<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Deloitte Assessment Tool</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="nav navbar-nav navbar-right">
            <p class="navbar-text pull-right"><a href="#" class="navbar-link">Signed in as Prototype Demo User</a></p>
        </div>
    </div>
</nav>

<!-- Breadcrumb Path -->
<div class="col-md-12">
    <h1>
        <ol class="breadcrumb">
            <li *ngFor='let page of getPageStack(); let currentIndex = index; let last = last' class="{{last ? 'active': ''}}">
                <a href="#" *ngIf='!last && page.parentPageElement == null' (click)="goToPage(currentIndex)">{{page.title}}</a><!-- First element has no parent-->
                <a href="#" *ngIf='!last && page.parentPageElement != null' (click)="goToPage(currentIndex)">{{page.parentPageElement?.name}}</a><!-- Element 2 to n -->
                {{last && page.parentPageElement == null ? page.title : ''}}<!-- First element has no parent-->
                {{last && page.parentPageElement != null ? page.parentPageElement?.name : ''}}<!-- Element 2 to n -->
                &nbsp;
            </li>
        </ol>
    </h1>
</div>

<!-- Page Elements -->
<div class="col-md-12">
    <span *ngFor='let pageElement of getCurrentPage().content'>
    <!-- Button -->
    <a *ngIf='pageElement.type == "button"' (click)="pageElement.onClick()" class="fa-links">
        <div class="thumbnail tile tile-large tile-{{pageElement.color}}">
            <h1>{{pageElement.name}}</h1>
            <i class="fa fa-3x {{pageElement.icon}}"></i>
        </div>
    </a>
    <!-- Back Button -->
    <a *ngIf='pageElement.type == "backbutton"' (click)="pageElement.onClick()" class="fa-links">
        <div class="thumbnail tile tile-large tile-silver">
            <h1>Back</h1>
            <i class="fa fa-3x fa-backward"></i>
        </div>
    </a>
    <!-- List -->
    <span *ngIf='pageElement.type == "list"'>
    <div *ngIf='pageElement.search' class="thumbnail tile tile-large tile-green">
        <div class="input-group input-group-lg">
            <h1>Search</h1>
            <i class="fa fa-3x fa-search"></i>
            <h1></h1>
            <input placeholder="Enter search text" class="form-control" type="text">
        </div>
    </div>
        <a *ngFor='let listElement of pageElement.content' (click)="listElement.onClick()" class="fa-links">
            <div class="thumbnail tile tile-large tile-{{listElement.color}}">
                <h1>{{listElement.name}}</h1>
                <i class="fa fa-3x {{listElement.icon}}"></i>
            </div>
        </a>
    </span>
    </span>
</div>

<!-- Forms -->
<div class="col-sm-6 col-md-3">
    <div class="col-sm-6 col-md-3">
        <!-- TODO listen to escape only, not to all keystrokes -->
        <div (window:keyup)="onKey($event)" *ngFor="let element of getFormStack()">
            <div class="modal fade show in danger" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" (click)="doCancel()">&times;</button>
                                <h4 class="modal-title">{{element.title}}</h4>
                            </div>
                            <div class="modal-body">
                                <div *ngFor='let field of element.fields' [hidden]="!field.visible">
                                    <div *ngIf="field.type == 'text'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <input [(ngModel)]=field.value *ngIf="field.height == null || field.height <= 1" type="text" class="form-control" placeholder="">
                                                    <textarea [(ngModel)]=field.value *ngIf="field.height != null && field.height > 1" rows="{{field.height}}" type="text" class="form-control path-textarea" placeholder=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="field.type == 'label'">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="modal-title">{{field.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="field.type == 'date'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <input style="display: block; width: 100%" type="date" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="field.type == 'autocomplete'">
                                        <path-autocomplete [field]="field"></path-autocomplete>
                                    </div>
                                    <div *ngIf="field.type == 'radiogroup'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <span *ngFor='let radioElement of field.radios'>
                                                            <label class="control radio">
                                                                <input type="radio">
                                                                <span class="radio-label"> {{radioElement.name}}</span>
                                                            </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="pull-left" *ngFor='let field of element.fields'>
                                            <span *ngIf="field.type == 'deleteButton'">
                                                <input type="button" class="btn btn-default btn-lg" (click)="field.onClick()" value="{{field.name}}"/>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-10">
                                        <span *ngFor='let field of element.fields'>
                                            <span *ngIf="field.type == 'okButton'">
                                                <input type="button" class="btn btn-default btn-lg" (click)="field.onClick()" value="{{field.name}}"/>
                                            </span>
                                            <span *ngIf="field.type == 'cancelButton'">
                                                <input type="button" class="btn btn-default btn-lg" (click)="field.onClick()" value="{{field.name}}"/>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>