@import url('https://fonts.googleapis.com/css?family=Nunito');

/* custom css styles */
body {
    font-size: 0.875rem;
}

.path-default-font {
    font-size: 0.875rem;
}

.row {
    padding-top: 5px;
}

.breadcrumb {
    background-color: #fff;
}

/* modal and form*/
.modal {
    display: inline;
}

.path-autocomplete {
    position:absolute;
    z-index: 99;
    width: 100%;
    top: 38px; /* TODO */
}

input[readonly-with-required] {
    pointer-events: none;
}

textarea[readonly-with-required] {
    pointer-events: none;
}

.required {
    font-weight: bold;
}

.required-field {
    border-color: #ff6666;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.list-group-item {
    padding: 3px 10px
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loadingNoClicks {
    pointer-events: none;
    z-index: 16777270;
    background: #fff;
    opacity: 0.6;
    transition: 1s;
    cursor: wait;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.loading {
    display : block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 16777271;
    border-bottom: 6px solid rgba(0, 0, 0, .1);
    border-left: 6px solid rgba(0, 0, 0, .1);
    border-right: 6px solid rgba(0, 0, 0, .1);
    border-top: 6px solid rgba(0, 0, 0, .4);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    animation: rotate .6s infinite linear;
    opacity: 1;
    transition: opacity .25s ease-in-out;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.version {
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 999;
    border-radius: 0;
}

.path-app-logo {
    height: 20px;
    vertical-align: middle;
}

.cursor-draggable {
    cursor: move;
    cursor: grab;
}

.cursor-draggable:active {
    cursor: grabbing;
}

.progress {
    margin-bottom: 0;
}

.file-upload-drop {
    background-color: lightgrey;
}

/* navigation font color */
.navbar-inverse, .navbar-link,.navbar-brand:hover, .navbar-link:hover, .navbar-brand:visited {
    color: #ffffff !important;
}

/* mobile device tile width */
/* button width x1 */
.tile.tile-medium {
    height: 150px;
    width: 50%;
}
/* button width x2 */
.tile.tile-wide {
    height: 150px;
    width: 100%;
}
/* button width x3 */
.tile.tile-wide-3 {
    height: 150px;
    width: 100%;
}
/* button width x4 */
.tile.tile-wide-4 {
    height: 150px;
    width: 100%;
}

/* mobile device search field */
.search-mobile {
    font-size: 150%;
    font-weight: bold;
    margin: 4px;
    margin-bottom: 5%;
    text-align: center;
}
/* tiles bottom margin */
.card.card-body {
    margin-bottom: 0;
}
/* only for mobile devices */
@media only screen and (max-width: 768px) {
    /* hidden elements on mobile version */
    .hide-on-mobile {
        display: none !important;
    }
    .search-mobile {
        clear: both;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* desktop only styles */
@media only screen and (min-width: 768px) {
    /* button width x1 */
    .tile.tile-medium {
        height: 150px;
        width: 150px;
    }

    /* button width x2 */
    .tile.tile-wide {
        height: 150px;
        width: 310px;
    }

    /* button width x3 */
    .tile.tile-wide-3 {
        height: 150px;
        width: 470px;
    }

    /* button width x4 */
    .tile.tile-wide-4 {
        height: 150px;
        width: 630px;
    }

    .tile-group {
        display: inline-block;
        white-space: nowrap;
    }

    /* hidden elements on desktop and tablet */
    .hide-on-desktop {
        display: none !important;
    }
}

/* replacement css for "metro-bootstrap" specific styles (e.g. tiles) */
/* Source: https://github.com/TalksLab/metro-bootstrap/blob/master/dist/css/metro-bootstrap.css */
/* general styles */
html body {
    font-family: Nunito, Futura, Futura-Medium, "Futura Medium", sans-serif;
}

h3, .h3, h4, .h4, h5, .h5 {
    font-family: Nunito, Futura, Futura-Medium, "Futura Medium", sans-serif;
}

/* tiles and buttons */
.tile {
    display: block;
    -webkit-perspective: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.2s;
    float: left;

    text-align: center;
    opacity: 0.75;
    background-color: #2e8bcc;
    z-index: 1;
    border-radius: 0px;
    border: 4px #ffffff solid;
    color: #ffffff;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
@media only screen and (min-width: 768px) {
    .tile-grouped-left {
        border-right: 0;
    }
    .tile-grouped-middle {
        border-left: 0;
        border-right: 0;
    }
    .tile-grouped-right {
        border-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .tile-grouped-left {
        border-right: 4px #ffffff solid;
    }
    .tile-grouped-middle {
        border-left: 4px #ffffff solid;
        border-right: 4px #ffffff solid;
    }
    .tile-grouped-right {
        border-left: 4px #ffffff solid;
    }
    .tile-group-divider {
        height: 10px;
        width: 100%;
        background-color: #ffffff;
    }
}
.tile-button {
    cursor: pointer;
}
.tile-button:hover {
    opacity: 1;
}

/* predefined tile colors - you may add your own colors in your path application css file */
.tile.tile-blue {
    background-color: #2e8bcc;
}
.tile.tile-green {
    background-color: #339933;
}
.tile.tile-search {
    background-color: #339933;
}
.tile.tile-red {
    background-color: #e51400;
}
.tile.tile-yellow {
    background-color: #ffc40d;
}
.tile.tile-orange {
    background-color: #f39c12;
}
.tile.tile-pink {
    background-color: #e671b8;
}
.tile.tile-purple {
    background-color: #7b4f9d;
}
.tile.tile-lime {
    background-color: #8cbf26;
}
.tile.tile-magenta {
    background-color: #ff0097;
}
.tile.tile-teal {
    background-color: #00aba9;
}
.tile.tile-turquoise {
    background-color: #1abc9c;
}
.tile.tile-green-sea {
    background-color: #16a085;
}
.tile.tile-emerald {
    background-color: #2ecc71;
}
.tile.tile-nephritis {
    background-color: #27ae60;
}
.tile.tile-peter-river {
    background-color: #3498db;
}
.tile.tile-belize-hole {
    background-color: #2980b9;
}
.tile.tile-amethyst {
    background-color: #9b59b6;
}
.tile.tile-wisteria {
    background-color: #8e44ad;
}
.tile.tile-wet-asphalt {
    background-color: #34495e;
}
.tile.tile-midnight-blue {
    background-color: #2c3e50;
}
.tile.tile-sun-flower {
    background-color: #f1c40f;
}
.tile.tile-carrot {
    background-color: #e67e22;
}
.tile.tile-pumpkin {
    background-color: #d35400;
}
.tile.tile-alizarin {
    background-color: #e74c3c;
}
.tile.tile-pomegranate {
    background-color: #c0392b;
}
.tile.tile-clouds {
    background-color: #ecf0f1;
    color: #34495e;
}
.tile.tile-silver {
    background-color: #bdc3c7;
}
.tile.tile-concrete {
    background-color: #95a5a6;
}
.tile.tile-asbestos {
    background-color: #7f8c8d;
}
.tile.tile-info {
    background-color: #3498db;
}
.tile.tile-danger {
    background-color: #e74c3c;
}
.tile.tile-warning {
    background-color: #f1c40f;
}
.tile.tile-success {
    background-color: #2ecc71;
}
/* Bachelor Arbeit Matthias Urech */
/*----Slider----*/
.slider-box{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #339933;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #339933;
    cursor: pointer;
}