/* custom css styles */

.path-autocomplete {
    position:absolute;
    z-index: 99;
    width: 100%;
    top: 45px; /* TODO */
}

.path-textarea {
    height: 150px !important;
}

.input-group {
    width: 100%;
}

.modal-dialog {
    width: 50%;
}

.row {
    padding-top: 20px;
}