<!-- search on mobile devices -->
<div *ngIf='list.search' class="search-mobile hide-on-desktop">
    <div class="row">
        <label for="search-mobile">Search</label>
        <input id="search-mobile" name="search" [(ngModel)]="list.searchText" placeholder="{{list.searchInputLabel}}" (ngModelChange)='list.filterChanged($event)' class="form-control" type="text">
    </div>
</div>
<span>
    <span>
        <div class="tile-group">
            <!-- default search (tablet, desktop) -->
            <div *ngIf='list.search' class="thumbnail {{(list.searchButton.width <= 1 ? 'tile-medium' : (list.searchButton.width == 2 ? 'tile-wide' : (list.searchButton.width == 3 ? 'tile-wide-3' : (list.searchButton.width >= 4 ? 'tile-wide-4' : ''))))}} tile tile-button hide-on-mobile {{list.searchButton.cssClass}}" [ngStyle]="list.searchButton.cssStyle">
                <div class="input-group input-group-sm">
                    <div class="h3">{{list.searchLabel}}</div>
                    <i class="fa fa-2x fa-search"></i>
                    <div class="h5"></div>
                    <form>
                        <input name="search" [(ngModel)]="list.searchText" placeholder="{{list.searchInputLabel}}" (ngModelChange)='list.filterChanged($event)' class="form-control" type="text">
                    </form>
                </div>
            </div>
        </div>
    </span>
    <!-- list -->
    <span *ngFor='let buttonGroup of list.buttonGroups; let i = index'>
        <path-button-group [buttonGroup]="buttonGroup"></path-button-group>
    </span>
</span>