<!-- default search (tablet, desktop) -->
<div *ngIf='list.search' class="thumbnail {{(list.width > 1 ? 'tile-wide' : '')}} tile tile-button tile-medium hide-on-mobile search-tile">
	<div class="input-group input-group-sm">
		<div class="h3">{{list._searchLabel}}</div>
		<i class="fa fa-2x fa-search"></i>
		<div class="h5"></div>
        <form>
		    <input name="search" [(ngModel)]="list._searchText" placeholder="{{list._searchInputLabel}}" (ngModelChange)='list.filterChanged($event)' class="form-control" type="text">
        </form>
	</div>
</div>
<!-- search on mobile devices -->
<div *ngIf='list.search' class="search-mobile hide-on-desktop">
    <div class="row">
        <label for="search-mobile">Search</label>
        <input id="search-mobile" name="search" [(ngModel)]="list._searchText" placeholder="{{list._searchInputLabel}}" (ngModelChange)='list.filterChanged($event)' class="form-control" type="text">
    </div>
</div>
<!-- list -->
<span *ngFor='let button of list.buttons'>
            <span *ngIf='button.type == "button" || button.type == "newButton"'>
                <path-button [button]="button"></path-button>
            </span>
            <span *ngIf='button.type == "linkButton" || button.type == "downloadButton"'>
                <path-link-button [button]="button"></path-link-button>
            </span>
</span>