<span>
  @if (buttonGroup.mobilePageBreak) {
    <div class="tile-group tile-group-divider tile hide-on-desktop"></div>
  }
  @if (buttonGroup.visible) {
    <div class="tile-group">
      @for (pageElement of buttonGroup.buttons; track pageElement) {
        <span>
          <!-- Button -->
          @if (pageElement.type == "button" || pageElement.type == "newButton") {
            <span>
              <path-button [button]="pageElement"></path-button>
            </span>
          }
          <!-- Back Button -->
          @if (pageElement.type == "backbutton") {
            <span>
              <path-back-button [button]="pageElement"></path-back-button>
            </span>
          }
          <!-- Delete Button -->
          @if (pageElement.type == "deleteButton") {
            <span>
              <path-page-delete-button [button]="pageElement"></path-page-delete-button>
            </span>
          }
          <!-- Link Button (deprecated: DownloadButton -->
          @if (pageElement.type == "linkButton" || pageElement.type == "downloadButton") {
            <span>
              <path-link-button [button]="pageElement"></path-link-button>
            </span>
          }
        </span>
      }
    </div>
  }
  @if (buttonGroup.mobilePageBreak) {
    <div class="tile-group tile-group-divider tile hide-on-desktop"></div>
  }
</span>