<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{chart.data?.name}}</h3>
		</div>
		<div class="panel-body">
			<p>{{chart.data?.customer}}</p>
		</div>

		<table *ngIf="chart.data?.interviewees?.list.length > 0" class="table">
			<tr>
				<th>Salutation<th>
				<th>Name<th>
				<th>Employment Title<th>
			</tr>
			<tr *ngFor="let interviewee of chart.data?.interviewees?.list">
				<td>{{interviewee.salutation}}<td>
				<td>{{interviewee.name}}<td>
				<td>{{interviewee.employmentTitle}}<td>
			</tr>
		</table>
	</div>

	<div class="panel panel-default" *ngFor="let category of chart.data?.categoryResults?.list" width="100%">
		<div class="panel-heading">
			<h3 class="panel-title">{{category.name}}</h3>
		</div>
		<div class="panel-body">
			<p align="center">
				<img width="600" src="data:image/png;base64,{{category.spider}}"/>
			</p>
		</div>
		<table class="table">
			<tr>
				<th>Capability<th>
				<th class="text-right">Actual<th>
				<th class="text-right">Target<th>
				<th class="text-right">Gap<th>
			</tr>
			<tr *ngFor="let question of category.questions.list">
				<td>{{question.name}}<td>
				<td class="text-right">{{question.actualValue}}<td>
				<td class="text-right">{{question.targetValue}}<td>
				<td class="text-right">{{question.gap}}<td>
			</tr>
		</table>

	</div>

</div>