<path-form-field-label [class.col-sm-4]="field.width == 1" [class.col-sm-2]="field.width == 2" [label]="field.name" [required]="field.required"></path-form-field-label>
<div [class.col-sm-8]="field.width == 1" [class.col-sm-10]="field.width == 2">
    <div class="input-group">
	    <div class="input-group-prepend">
		    <button (click)="datepicker.toggle()" class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar fa-fw"></i></button>
	    </div>
	    <input #datepicker="bsDatepicker" #model="ngModel" bsDatepicker [bsConfig]="{ dateInputFormat: field.dateInputFormat, containerClass: 'theme-default' }" placement="bottom left" [bsValue]="field.datePickerInitialValue" [(ngModel)]="field.datePickerValue" (bsValueChange)="field.updateValueFromGui($event)" [isDisabled]="field.isReadonly()" [readonly]="field.isReadonly()" [class.required-field]="(!model.valid &&!model.pristine && field.required)" [required]="field.required" type="text" class="form-control" placeholder="">
    </div>
</div>
