<path-form-field-label [label]="field.name" [required]="field.required"></path-form-field-label>
<div [class.col-md-4]="field.width == 1" [class.col-md-10]="field.width == 2">
    <table class="table">
        <thead>
        <tr>
            <td class="col-md-7">File Name</td>
            <td class="col-md-2">Size</td>
            <td class="col-md-3"></td>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let file of field.value">
            <tr *ngIf="file.active">
                <td class="col-md-7"><a href="#" (click)="field.download(file.key)">{{file.name}}</a></td>
                <td class="col-md-2">{{file.sizeString}}</td>
                <td class="col-md-3" align="right">
                    <a *ngIf="file.uploadFinished" href="#" (click)="field.remove(file.key)">Remove</a>
                    <div *ngIf="!file.uploadFinished" class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="file.uploadProgress"
                             [attr.aria-valuenow]="file.uploadProgress" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">{{file.uploadProgress}}% Complete</span>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
    <div class="form-group">
        <input type="file" class="form-control-file" (change)="selectFile($event)" placeholder="Upload file"
               [multiple]="field.multiple" accept="{{field.acceptedFileTypes.join(', ')}}" [disabled]="field.isReadonly()"
               [required]="field.fileUploadRequired" #fileInput>
    </div>
</div>
