<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Assessment Tool</a>
    </div>
</div>

<div class="col-md-12">
<h1>{{getCurrentPage().title}}</h1>
</div>

<!-- Page -->
<div class="col-md-12">
    <span *ngFor='let pageElement of getCurrentPage().content'>
    <div *ngIf='pageElement.type == "button"' class="thumbnail tile tile-large tile-{{pageElement.color}}">
        <a (click)="pageElement.onClick()" class="fa-links">
            <h1>{{pageElement.name}}</h1>
            <i class="fa fa-3x {{pageElement.icon}}"></i>
        </a>
    </div>
    <span *ngIf='pageElement.type == "list"'>
    <div *ngFor='let listElement of pageElement.content' class="thumbnail tile tile-large tile-{{listElement.color}}">
        <a (click)="listElement.onClick()" class="fa-links">
            <h1>{{listElement.name}}</h1>
            <i class="fa fa-3x {{listElement.icon}}"></i>
        </a>
    </div>
    </span>
    </span>
</div>

<!-- Form -->
<div class="col-sm-6 col-md-3">
    <div class="col-sm-6 col-md-3">
        <div *ngFor="let element of getCurrentForms()">
            <div class="modal fade show in danger" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form (submit)="doLogin($event)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" (click)="doCancel()">&times;</button>
                                <h4 class="modal-title">{{element.title}}</h4>
                            </div>
                            <div class="modal-body">
                                <div *ngFor='let field of element.fields'>
                                    <div *ngIf="field.type == 'text'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <input *ngIf="field.height == null || field.height <= 1" type="text" class="form-control" placeholder="">
                                                    <textarea *ngIf="field.height != null && field.height > 1" rows="{{field.height}}" type="text" class="form-control path-textarea" placeholder=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="field.type == 'date'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <input style="display: block; width: 100%" type="date" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="field.type == 'autocomplete'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <input #inputElement type="text" [(ngModel)]=field.query (keyup)=field.filter(inputElement.value) class="form-control" placeholder="">
                                                    <!-- Auto Complete -->
                                                    <div *ngIf="field.filteredList.length > 0">
                                                        <div class="path-autocomplete list-group">
                                                            <a *ngFor="let item of field.filteredList" class="list-group-item" href="#" (click)="field.select(item)"><h4>{{item}}</h4></a>
                                                        </div>
                                                    </div>
                                                    <!-- Action -->
                                                    <span class="input-group-btn" *ngFor='let action of field.actions'>
                                                        <button class="btn btn-default" type="button">{{action.name}}</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="field.type == 'radiogroup'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="modal-title">{{field.name}}</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-lg">
                                                    <span *ngFor='let radioElement of field.radios'>
                                                            <label class="control radio">
                                                                <input type="radio">
                                                                <span class="radio-label"> {{radioElement.name}}</span>
                                                            </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span *ngFor='let field of element.fields'>
                                            <span *ngIf="field.type == 'okButton'">
                                                <input type="button" class="btn btn-default btn-lg" (click)="doOk()" value="{{field.name}}"/>
                                            </span>
                                            <span *ngIf="field.type == 'cancelButton'">
                                                <input type="button" class="btn btn-default btn-lg" (click)="doCancel()" value="{{field.name}}"/>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>