<a (click)="button.onClick()" class="fa-links">
	<div tooltip="{{button.tooltip}}" *ngIf="button.visible" class="card-body tile {{button.cssButtonTarget ? 'tile-button' : ''}} {{(button.width <= 1 ? 'tile-medium' : (button.width == 2 ? 'tile-wide' : (button.width == 3 ? 'tile-wide-3' : (button.width >= 4 ? 'tile-wide-4' : ''))))}} {{button.cssGroupBorder}} {{button.cssClass}}" [ngStyle]="button.cssStyle">
		<div class="h4 truncate">{{button.name}}</div>
		<span class="truncate" *ngFor='let detail of button.details; let last = last;'>
                    <span class="h5 m-t-5" [innerHTML]="detail.text"></span><small [hidden]="last">&nbsp;&bull;&nbsp;</small></span>
		<div class="h5 m-t-5"></div>
		<i class="fa fa-2x {{button.icon}}"></i>
	</div>
</a>
