<path-form-field-label [label]="field.name" [required]="field.required"></path-form-field-label>
<div [class.col-md-4]="field.width == 1" [class.col-md-10]="field.width == 2">
	<div class="input-group">
		<span [hidden]="!field.horizontal" *ngFor='let radioElement of field.radios'>
            <label class="control radio">
                <input name="{{field.id}}" [disabled]="field.isReadonly()" [checked]="radioElement.value" [required]="field.required" (click)="field.doClick(radioElement.key)" type="radio">
                <span class="radio-label"> {{radioElement.name}}</span>
            </label>
        </span>
		<div [hidden]="field.horizontal" *ngFor='let radioElement of field.radios'>
            <label class="control radio">
                <input name="{{field.id}}" [disabled]="field.isReadonly()" [checked]="radioElement.value" [required]="field.required" (click)="field.doClick(radioElement.key)" type="radio">
                <span class="radio-label"> {{radioElement.name}}</span>
            </label>
        </div>
	</div>
</div>
