<span class="row">
<path-form-field-label [class.col-md-4]="field.width == 1" [class.col-md-2]="field.width == 2" [label]="field.name" [required]="field.required"></path-form-field-label>
<div [class.col-md-8]="field.width == 1" [class.col-md-10]="field.width == 2">
    <div class="input-group">
        <input *ngIf="field.height == null || field.height <= 1" #model="ngModel" readonly-with-required (keydown)="field.editTranslations()" (click)="field.editTranslations()" [class.required-field]="!model.valid && !model.pristine && field.required" [required]="field.required" [(ngModel)]="field.defaultTranslation" type="text" class="form-control" placeholder="">
        <textarea *ngIf="field.height != null && field.height > 1" #model="ngModel" readonly-with-required (keydown)="field.editTranslations()" (click)="field.editTranslations()" [class.required-field]="(!model.valid &&!model.pristine && field.required)" [required]="field.required" [(ngModel)]=field.defaultTranslation rows="{{field.height}}" type="text" class="form-control" placeholder=""></textarea>
        <span class="input-group-append">
                <button [disabled]="field.isReadonly()" (click)="field.editTranslations()" class="btn btn-outline-secondary" type="button">{{field.translationLabel}}...</button>
        </span>
    </div>
</div>
</span>
