<path-form-field-label [label]="field.name" [required]="field.required"></path-form-field-label>
<div [class.col-md-4]="field.width == 1" [class.col-md-10]="field.width == 2">
    <div class="input-group">
        <input min="{{field.min}}" max="{{field.max}}" step="{{field.getStep()}}" *ngIf="field.height == null || field.height <= 1" #model="ngModel" [readonly]="field.isReadonly()" [class.required-field]="(!model.valid &&!model.pristine && field.required)" [required]="field.required" [(ngModel)]=field.value type="number" class="form-control" placeholder="">
    </div>
</div>
