<div [class.loadingNoClicks]="isLoading()">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
    <a class="navbar-brand" href="#" (click)="navigateToPage(0)"><img *ngIf="getApplicationLogo() != null" class="path-app-logo" src="{{getApplicationLogo()}}" /> {{getTitle()}}</a>
    <button (click)="toggleCollapse()" type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="show">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a *ngIf="getUserId() == null" (click)="logout()" href="#" class="navbar-link">{{texts["NotSignedIn"]}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="getUserId() != null" (click)="showUserForm()" href="#" class="navbar-link">{{texts["SignedInAs"]}} {{getUserId()}}</a>&nbsp;&nbsp;
            </li>
            <li class="nav-item">
                <a *ngIf="getUserId() != null" (click)="logout()" href="#" class="navbar-link"><span class="glyphicon glyphicon-log-out hide-on-desktop"></span>{{texts["Logout"]}}</a>
            </li>
        </ul>
    </div>
</nav>

<div *ngFor="let alert of pathService.getAlerts()" class="col-md-12">
		<div class="alert alert-warning alert-dismissable">
			<button (click)="pathService.clearAlert(alert.id)" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p><strong>{{alert.title}}</strong></p><p style="white-space: pre-wrap;">{{alert.text}}</p>
		</div>
</div>

<!-- Login Form -->
<div *ngIf="getUserId() == null" class="container-fluid">
<div class="login jumbotron mt-3 mx-auto">
    <h1>Login</h1>
    <form role="form" (submit)="login($event, username.value, password.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
</div>

<!-- Breadcrumb Path -->
<div *ngIf="getUserId() != null">
<path-breadcrumb [app]="this"></path-breadcrumb>

<!-- Page Elements -->
<div class="container-fluid">
    <div *ngFor='let pageRow of _pageStack[_pageStack.length - 1]?._rows' class="row" [hidden]="!pageRow.isVisible()">
        <div class="col-md-12">
        <span *ngFor='let pageElement of pageRow.pageElements'>
	    <span *ngIf="pageElement.visible">
	<!-- Inline Form -->
    <span *ngIf='pageElement.type == "inlineForm"'>
        <path-form *ngIf="pageElement.form != null" [form]="pageElement.form"></path-form>
    </span>
    <!-- List -->
    <span *ngIf='pageElement.type == "list"'>
        <path-list [list]="pageElement"></path-list>
    </span>
    <!-- Custom Chart Element -->
    <div class="col-md-12" *ngIf='pageElement.type == "ChartElement"'>
        <path-radar-chart [chart]="pageElement"></path-radar-chart>
    </div>
    <!-- Page Label -->
    <span *ngIf='pageElement.type == "pageLabel"'>
        <path-page-label [pageLabel]="pageElement"></path-page-label>
    </span>
    <!-- Element List -->
    <span *ngIf='pageElement.type == "elementList"'>
        <path-element-list [elementList]="pageElement"></path-element-list>
    </span>
    <!-- Button Group -->
    <span *ngIf='pageElement.type == "buttonGroup"'>
        <path-button-group [buttonGroup]="pageElement"></path-button-group>
    </span>
    <!-- Breadcrumb -->
    <span *ngIf='pageElement.type == "breadcrumb"'>
        <div class="row">
            <path-breadcrumb [app]="this"></path-breadcrumb>
        </div>
    </span>
    <!-- Custom Directive for custom components -->
    <span *ngIf='pageElement.typeClass'>
        <path-custom-container-component [pageElement]="pageElement"></path-custom-container-component>
    </span>
	</span>
    </span>
        </div>
    </div>
</div>

<!-- Forms -->
<div class="container-fluid">
    <!-- TODO listen to escape only, not to all keystrokes -->
    <div (window:keyup)="form.onKey($event)" *ngFor="let form of _formStack">
        <div class="modal" id="myModal" role="dialog">
            <div [path-draggable] class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <path-form class="shadow w-100" [form]="form"></path-form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="version badge badge-secondary">{{version}}</div>
<div *ngIf="isLoading()" class="loading"></div>
</div>
